<% const data = require('../json/data.json'); %>
<% const pageMeta = {
	title:'私たちについて',
	description:'私たちについての概要文',
}; %>

<!DOCTYPE html>
<html lang="ja">

<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# article:http://ogp.me/ns/article#">
	<%- include('./_c-head.ejs',{meta:pageMeta}); %>
</head>

<body>
	<div class="l-wrapper">
		<%- include('./_c-header.ejs'); %>
		<%- include('./_main-about.ejs'); %>
		<%- include('./_c-footer.ejs'); %>
	</div>
	<script src="./assets/js/index.js?<%= data.param %>"></script>
</body>

</html>